.fitForm {
    padding-top: 3rem;
    width: 60%;
    margin: auto;

}

.fitTable {
    padding-top: 3rem;
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;

}

.header {
    font-family: Arial, Helvetica, sans-serif;
}

.myForm {
    width: 40%;
    outline: rgba(0, 0, 0, 0.324) 1px solid;
    padding: 1rem;
    border-radius: 5pt;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
    margin-bottom: 1rem;
}

.formBtn {
width: 40%;
margin-left: 30%;
}

.table {
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px
}